/**
 * Jcd Admin Style
 *
 * Stle for Jcd Admin Panel
 * ================================================================ */
/* ===================================================================
  #GLOBAL
=================================================================== */
#theme_update.updated,
#jcdframework_update.updated,
#jcdframework_important_update.error {
  display: block !important;
}

#jcd_container {
  margin-top: 15px;
  min-width: 700px;
  max-width: 1170px;
  position: relative;
  z-index: 0;
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 75px;
}

/* ===================================================================
  #HEADER
=================================================================== */
#header {
  width: auto;
  height: 80px;
  border: 1px solid #34537f;
  border-bottom: none;
  background: #616771;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #616771), color-stop(100%, #3d454c));
  background-image: -webkit-linear-gradient(top, #616771 0%, #3d454c 100%);
  background-image: -moz-linear-gradient(top, #616771 0%, #3d454c 100%);
  background-image: -o-linear-gradient(top, #616771 0%, #3d454c 100%);
  background-image: linear-gradient(top, #616771 0%, #3d454c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#616771', endColorstr='#3d454c',GradientType=0 );
}
#header .logo {
  display: none;
  float: right;
  height: 38px;
  margin: 15px 27px 0 0;
}
#header .theme-info {
  float: left;
  padding-left: 18px;
  margin: 30px 0 0 27px;
  background: url(images/icon-info.png) no-repeat left center;
}
#header .theme-info span {
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
}

/* Support Links
------------------------------------------------------------------- */
#support-links {
  height: 32px;
  width: 620px;
  padding: 0 0 0 15px;
  margin-left: 190px;
  position: absolute;
  bottom: 20px;
}
#support-links ul {
  margin: 0;
}
#support-links li {
  display: inline;
  margin: 0 25px 0 0;
}
#support-links a:link, #support-links a:visited {
  line-height: 32px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #555;
  text-shadow: 1px 1px 0 #fff;
}
#support-links a:hover {
  color: #222;
}
#support-links .changelog {
  padding: 2px 0 2px 20px;
  background: url(images/ico-changelog.png) no-repeat left center;
}
#support-links .docs {
  padding: 1px 0 1px 20px;
  background: url(images/ico-docs.png) no-repeat left center;
}
#support-links .forum {
  padding: 1px 0 1px 20px;
  background: url(images/ico-forum.png) no-repeat left center;
}
#support-links .right {
  float: right;
  margin-right: 15px;
  display: none;
}

/* ===================================================================
  #MAIN SECTION
=================================================================== */
#main {
  background: #313131;
  /*border-left: 1px solid #2a2a2a;*/
}

#jcd-nav-shadow {
  display: none;
  width: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 6px;
  z-index: 999;
}

/* ===================================================================
  #MAIN NAV
=================================================================== */
#jcd_container #jcd-nav {
  float: left;
  top: 81px;
  bottom: 160px;
  z-index: 9999;
  width: 190px;
  background: #313131;
  border-top: 1px solid #0a0f17;
  border-left: 1px solid #2a2a2a;
}
#jcd_container #jcd-nav ul {
  margin: 0;
}
#jcd_container #jcd-nav li {
  margin-bottom: 0;
  position: relative;
}
#jcd_container #jcd-nav li:last-child a:link,
#jcd_container #jcd-nav li:last-child a:visited {
  border-bottom: none;
}
#jcd_container #jcd-nav li a:link,
#jcd_container #jcd-nav li a:visited {
  color: #fff;
  display: block;
  outline: 0;
  background: #313131;
  text-decoration: none;
  padding: 7px 10px 7px 10px;
  border-top: 1px solid #464646;
  border-bottom: 1px solid #222;
  font: bold 12px/18px sans-serif;
}
#jcd_container #jcd-nav .current a:link,
#jcd_container #jcd-nav .current a:visited {
  background: #222;
  border-bottom-color: #181818;
}
#jcd_container #jcd-nav .arrow {
  display: none;
  top: 1px;
  cursor: auto;
  position: absolute;
  left: -1000px;
  margin: 0;
  height: 32px;
  width: 5px;
}
#jcd_container #jcd-nav .arrow div {
  position: absolute;
  height: 17px;
  width: 17px;
  top: 7px;
  left: -2px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  background: #222;
  border-color: #222;
  -webkit-transform: matrix(-0.6, 1, 0.6, 1, 0, 0);
  -moz-transform: matrix(-0.6, 1, 0.6, 1, 0, 0);
  -ms-transform: matrix(-0.6, 1, 0.6, 1, 0, 0);
  -o-transform: matrix(-0.6, 1, 0.6, 1, 0, 0);
  transform: matrix(-0.6, 1, 0.6, 1, 0, 0);
}
#jcd_container #jcd-nav li.has-children:hover .arrow {
  display: block;
  z-index: 9999;
  background: #222;
  -webkit-transform: translate(1183px);
  -moz-transform: translate(1183px);
  -ms-transform: translate(1183px);
  -o-transform: translate(1183px);
  transform: translate(1183px);
}
#jcd_container #jcd-nav li.has-children.open:hover .arrow {
  display: none;
}
#jcd_container #jcd-nav li.current .arrow,
#jcd_container #jcd-nav li.has-children.current .arrow {
  left: -1px;
  z-index: 9997;
  display: block;
  background: #1275d1;
}
#jcd_container #jcd-nav li a:hover,
#jcd_container #jcd-nav li.has-children:hover > a {
  background-color: #222;
}
#jcd_container #jcd-nav .current a:hover {
  color: #fff;
}
#jcd_container #jcd-nav .current .arrow div {
  display: none;
}
#jcd_container #jcd-nav li ul {
  background: #fff;
  padding: 5px 0;
  border-bottom: 1px solid #DFDFDF;
}
#jcd_container #jcd-nav li ul li {
  border: none;
}
body.js #jcd_container #jcd-nav .current .sub-menu, body.js #jcd_container #jcd-nav .current .sub-menu a {
  margin-left: 0;
}

/* Sub Menu Navigation
------------------------------------------------------------------- */
body.js #wpwrap #jcd_container #jcd-nav .sub-menu {
  display: none;
  margin: 0 1px 0 0;
}
#wpwrap #jcd_container #jcd-nav .top-level:hover .flyout-menu {
  display: block;
}
#wpwrap #jcd_container #jcd-nav .top-level.open:hover .flyout-menu {
  display: none;
}
body.js #wpwrap #jcd_container #jcd-nav .flyout-menu {
  z-index: 9998;
  display: none;
  left: 190px;
  margin-top: -35px;
  position: absolute;
  width: 170px;
  border: 1px solid #222;
  border-bottom: none;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
body.js #wpwrap #jcd_container #jcd-nav .flyout-menu ul {
  border: none;
  padding: 0;
}
#wpwrap #jcd_container #jcd-nav li .flyout-menu li a {
  padding-left: 20px;
  border-top: 1px solid #464646;
  border-bottom: 1px solid #222222;
}
#wpwrap #jcd_container #jcd-nav li .flyout-menu li a {
  padding-left: 20px;
  border-top: 1px solid #464646;
  border-bottom: 1px solid #222222;
}
#wpwrap #jcd_container #jcd-nav .open .flyout-menu {
  display: none;
}
#wpwrap #jcd_container #jcd-nav li .sub-menu a,
#wpwrap #jcd_container #jcd-nav li .flyout-menu a {
  background-color: #313131;
  background-image: none;
  border-bottom: 0;
  padding: 7px 10px 7px 10px;
  border: none;
  color: #fff;
}
#wpwrap #jcd_container #jcd-nav li .sub-menu a {
  background: #fff;
  color: #222;
}
#wpwrap #jcd_container #jcd-nav li .sub-menu a:hover,
#wpwrap #jcd_container #jcd-nav li .sub-menu .active a {
  background: #eee;
  color: #222;
}
#wpwrap #jcd_container #jcd-nav .flyout-menu a:hover {
  background-color: #222;
  color: #fff;
}
#wpwrap #jcd_container #jcd-nav li .sub-menu .active a,
#wpwrap #jcd_container #jcd-nav li .flyout-menu .active a {
  color: #333333;
  font-weight: bold;
}

/* ===================================================================
  #MAIN OPTIONS
=================================================================== */
#content {
  min-height: 400px;
  margin-left: -1px;
  overflow: hidden;
  font-family: sans-serif;
  background-color: #fff;
  position: relative;
  margin-left: 190px;
  border-top: 1px solid #34537f;
  border-right: 1px solid #d9d9d9;
  /* Class is dynamically added to the "html" tag. */
}
#content .group {
  padding-bottom: 20px;
  *zoom: 1;
}
#content .group:after {
  content: "";
  display: table;
  clear: both;
}
#content .group h1 {
  display: none;
  padding: 20px 0;
  margin: 0 0 20px;
  font-size: 23px;
  color: #464646;
  font-weight: normal;
  border-bottom: 1px solid #e0e0e0;
}
#content .section {
  position: relative;
  padding: 20px 15px;
  border-bottom: 1px solid #f2f2f2;
}
#content .section:last-child {
  border-bottom: none;
}
#content .section:hover:after {
  top: -1px;
  right: -1px;
  bottom: -1px;
  width: 3px;
  content: "";
  position: absolute;
  background: #88bae8;
}
#content .section .heading {
  font-size: 1.1em;
  margin: 0 0 5px;
  padding: 0 0 7px;
  color: #222222;
}
#content .section .controls {
  float: left;
  width: 345px;
  margin: 0 15px 0 0;
}
#content .section .explain {
  overflow: hidden;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  color: #555;
  font-family: sans-serif;
}
#content .section-checkbox .controls {
  width: auto;
}
#content .section-info {
  border-bottom: none;
  margin: 0;
}
#content .section-info .heading {
  font-size: 12px;
  font-weight: 100;
  border: 0;
  margin-top: 20px;
  letter-spacing: 1px;
  border-top: 1px solid #FFF298;
  margin-bottom: 0;
  background: #EFE186;
  padding: 10px 20px;
}
#content .section-info .controls {
  float: none;
  margin: 0 0 10px;
  padding: 15px 20px;
  width: auto;
  line-height: 1.5em;
  font-size: 14px;
  font-style: italic;
  font-family: Georgia, serif;
  background: #FFF298;
  border: 1px solid #ECD852;
  color: #424242;
}
#content .section-info .controls small {
  font-size: 12px;
}
#content .section-typography .controls {
  width: 440px;
}
#content .section-typography .explain {
  width: 140px;
}
#content .controls .jcd-typography-size {
  width: 50px;
  float: left;
}
#content .controls .jcd-typography-unit {
  width: 50px;
  float: left;
}
#content .controls .jcd-typography-face {
  width: 100px;
  float: left;
}
#content .controls .jcd-typography-style {
  width: 80px;
  float: left;
}
#content .controls .jcd-typography-preview-button {
  float: left;
  margin: 3px 0 0 5px;
}
#content .controls .jcd-typography-preview-button span {
  background: transparent url(images/ico-preview.png) no-repeat center center;
  display: block;
  text-indent: -9999px;
  width: 14px;
  height: 16px;
}
#content .controls .jcd-typography-preview-button span.refresh {
  background-image: url(images/ico-refresh.png);
}
#content .typography-preview-container {
  clear: both;
}
#content .typography-preview-container .preview_remove {
  position: relative;
  float: right;
  margin-bottom: -10px;
  margin-right: -10px;
  z-index: 99;
}
#content .typography-preview {
  word-wrap: break-word;
  clear: both;
  padding: 20px;
  border: 1px solid #CCCCCC;
  background: #FDFDFD;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#content .wf-loading #jcd_container .typography-preview.current {
  background: #fdfdfd url(images/loading-bottom.gif) no-repeat 560px center;
}

/* Make Controls box full width only on section-ads */
#jcd_container #content .section.section-ads .controls {
  margin: 0;
  width: 100%;
  position: relative;
}

#jcd_container #content .section.section-ads .controls textarea {
  width: 100%;
  margin-bottom: 5px !important;
  height: 140px;
  resize: none;
  float: none !important;
}

#jcd_container #content .section.section-ads .controls .jcd-input {
  float: left;
}

#jcd_container #content .section.section-ads input.upload_button {
  float: none;
}

#jcd_container #content .section.section-ads .controls input[type="text"] {
  width: 240px !important;
}

#jcd_container #content .section.section-ads .controls input[type="text"] + input[type="text"] {
  margin-left: -2px;
}

#jcd_container #content .section.section-ads .explain {
  width: 100%;
  margin-top: 10px;
}

/*#jcd_container #content .section.section-ads .controls:after {
  content: "or";
  left: 50%;
  width: 10px;
  top: 147px;
  padding: 0 5px;
  margin-left: -7px;
  background: #fff;
  font-weight: bold;
  position: absolute;
}*/

#jcd_container .section-ads .separator {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
}
#jcd_container .section-ads .separator span {
  padding: 0 10px;
  background: #fff;
}

#jcd_container .section-ads .separator:before {
  left: 0;
  content: "";
  width: 100%;
  bottom: 50%;
  height: 1px;
  margin-bottom: -2px;
  position: absolute;
  border-top: 1px solid #e5e5e5;
}

/* Input Type
------------------------------------------------------------------- */
#jcd_container textarea, #jcd_container input, #jcd_container select {
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
#jcd_container .controls input,
#jcd_container .controls select,
#jcd_container .controls textarea {
  margin-bottom: 9px;
  background-color: #fafafa;
  border: 1px solid #ccc;
  width: 340px;
  padding: 5px;
  font-family: sans-serif;
  font-size: 12px;
  color: #555;
  line-height: 1;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
#jcd_container .controls input:focus,
#jcd_container .controls select:focus,
#jcd_container .controls textarea:focus {
  outline: 0;
  background: #fff;
  border-color: #349ef6;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: thin dotted \9;
}
#jcd_container .controls input:hover,
#jcd_container .controls select:hover,
#jcd_container .controls textarea:hover {
  color: #333;
  background: #fff;
}
#jcd_container .controls textarea {
  resize: vertical;
  line-height: 1.3;
}
#jcd_container input[type=text], #jcd_container select {
  height: 32px;
}
#jcd_container .controls input[type="submit"],
#jcd_container .controls input[type="button"],
#jcd_container .save_bar_top input.button {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
#jcd_container input.checkbox {
  width: auto;
  margin-top: 1px;
  margin-bottom: 0 !important;
}
#jcd_container input.jcd-radio {
  width: auto;
}
#jcd_container .controls .input-text-small {
  width: 60px;
  margin-right: 10px;
}
#jcd_container .meta-two {
  margin-right: 10px;
}
#jcd_container input.upload {
  width: 225px;
  padding-bottom: 6px;
}
#jcd_container input.upload_button {
  float: right;
  width: 90px;
  border-color: #BBBBBB;
  cursor: pointer;
  height: 20px;
}
#jcd_container input.upload_button:hover {
  color: #000;
}
#jcd_container .section-upload_min .controls input.upload_button {
  float: left;
}
#jcd_container .screenshot {
  float: left;
  margin-left: 1px;
  position: relative;
  width: 344px;
  margin-top: 3px;
  margin-bottom: 10px;
  z-index: 1;
}
#jcd_container .screenshot img {
  background: #FAFAFA;
  border-color: #CCCCCC #EEEEEE #EEEEEE #CCCCCC;
  border-style: solid;
  border-width: 1px;
  float: left;
  max-width: 100%;
  padding: 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
#jcd_container .screenshot .mlu_remove,
#jcd_container .typography-preview-container .preview_remove {
  background: url("images/ico-delete.png") no-repeat;
  border: medium none;
  bottom: -4px;
  display: block;
  float: left;
  height: 16px;
  padding: 0;
  position: absolute;
  left: -4px;
  text-indent: -9999px;
  width: 16px;
}
#jcd_container .screenshot .no_image .file_link {
  margin-left: 20px;
}
#jcd_container .screenshot .no_image .mlu_remove {
  bottom: 0px;
}
#jcd_container select.jcd-input {
  cursor: pointer;
  height: 28px;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: relative;
  width: inherit;
  z-index: 4;
}
#jcd_container .select_wrapper {
  font-family: sans-serif;
  font-size: 12px;
  background: #fafafa url(images/select.png) no-repeat right center;
  border: 1px solid #ccc;
  float: left;
  height: 32px;
  margin: 0;
  margin-bottom: 9px !important;
  width: 340px;
  display: block;
  color: #555;
}
#jcd_container .select_wrapper span {
  height: 32px;
  line-height: 32px;
  position: absolute;
  z-index: 2;
  padding-left: 6px;
}
#jcd_container .select_wrapper:hover {
  color: #333;
}
#jcd_container .option-type .select_wrapper {
  background-color: #fff;
}
#jcd_container input.jcd-input-calendar {
  width: 300px;
}
#jcd_container .section-calendar .ui-datepicker-trigger {
  width: 16px;
  top: 3px;
  position: relative;
  margin-left: 10px;
}
#jcd_container .colorSelector {
  margin-top: 1px;
}
#jcd_container .colorSelector:hover {
  cursor: pointer;
}
#jcd_container .controls .jcd-color {
  float: left;
  width: 70px;
  margin-left: 5px;
}
#jcd_container .controls .jcd-radio-img-img {
  padding: 3px;
  /*margin: 0 5px 10px 0;*/
  display: block;
  margin: 0 auto;
}
#jcd_container .section-images input {
  display: none;
}
#jcd_container .section-images .controls > span {
  float: left;
  margin: 0 5px 10px 0;
  width: 45px;
  height: 45px;
  cursor: pointer;
  /*background: #313131;*/
  background: #fff;
  border: 2px solid #0A0F17;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.4) inset;
  -moz-box-shadow: 0 1px rgba(255, 255, 255, 0.4) inset;
  box-shadow: 0 1px rgba(255, 255, 255, 0.4) inset;
}
#jcd_container .section-images .controls > .jcd-radio-img-selected,
#jcd_container .section-images .controls > span:hover {
  border-color: #1275d1;
}
#jcd_container .section-images .jcd-radio-img-label {
  display: none;
}
#jcd_container .controls .jcd-radio-img-img {
  margin: 0 auto;
  cursor: pointer;
}
#jcd_container .controls .jcd-radio-img-selected {
  border: 3px solid #aaa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#jcd_container .controls .jcd-border-width {
  width: 80px;
  float: left;
}
#jcd_container .controls .jcd-border-style {
  width: 120px;
  float: left;
}
#jcd_container .controls select.jcd-select-timestamp {
  float: left;
  width: 50px;
}

/* Notification
------------------------------------------------------------------- */
#jcd_container .happy {
  background: #DBF6BE no-repeat 10px center;
  border: solid #9BBF65;
  border-width: 0px 1px 1px 1px;
  color: #060;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
#jcd_container .warning {
  background: #ffeeee no-repeat 10px center;
  border: solid #dfbfbf;
  border-width: 0px 1px 1px 1px;
  color: #333;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
#jcd_container .update_available {
  background: #FFFEEB no-repeat 10px center;
  border: solid #CCCCCC;
  border-width: 0px 1px 1px 1px;
  color: #333;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.upload_button_div {
  margin-bottom: 10px;
}

.upload_button_div .button {
  padding: 4px 14px;
}

.upload_button_div .image_reset_button {
  margin-left: 10px;
}

.upload-error {
  float: left;
  color: #666;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 0 #FFFFFF;
  margin: 0 10px 0 0;
  padding: 3px 10px;
  background: #ffdfec;
}

#jcd_container .jcd-save-popup {
  position: absolute;
  -moz-border-radius: 12px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 24px;
  text-align: center;
  display: none;
  z-index: 10;
}

#jcd_container .jcd-save-save {
  background: url(images/happy.png) 20px 50% no-repeat;
  padding: 30px 30px 30px 70px;
}

#jcd_container .jcd-save-reset {
  background: url(images/warning.png) 20px 50% no-repeat;
  padding: 30px 30px 30px 70px;
}

.hide {
  display: none;
}

.ajax-loading-img-top {
  margin: 8px 4px 0;
  float: left;
}

.jcd-option-image {
  max-width: 340px;
}

#jcd_container .mini .controls select, #jcd_container #content .section .mini .controls {
  width: 70px;
}

#jcd_container .mini .controls input, #jcd_container #content .mini .controls {
  width: 70px;
}

#jcd_container #content .mini .explain {
  width: 500px;
}

.jcd-notice {
  background: #ffd1d1;
  border: 1px solid #DFA8A7;
  -moz-border-radius: 8px;
  text-align: center;
  margin-bottom: 15px;
}

/* ===================================================================
  #BUTTONS
=================================================================== */
#jcd_container .save_bar_top {
  overflow: hidden;
  text-align: right;
  clear: both;
  background: #f3f3f3;
  position: relative;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #d0d0d0;
  padding: 23px 20px 23px 204px;
}
#jcd_container .save_bar_top .ajax-loading-img {
  position: absolute;
  left: 180px;
  margin-top: 10px;
}
#jcd_container .save_bar_top input.button {
  color: #fff;
  font-weight: bold;
  padding: 10px 22px;
  line-height: 1;
  height: 16px;
  text-transform: uppercase;
  font-size: 12px !important;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.4) !important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transform: translateZ(0);
}
#jcd_container .save_bar_top input.button:hover {
  background-position: 0 -15px;
}
#jcd_container .save_bar_top input.button:active {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2) inset;
}
#jcd_container .save_bar_top input.submit-button {
  float: left;
  margin-right: 13px;
  border-color: #3e780e;
  background: #95ce53;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #95ce53), color-stop(100%, #69b90b));
  background-image: -webkit-linear-gradient(top, #95ce53 0%, #69b90b 100%);
  background-image: -moz-linear-gradient(top, #95ce53 0%, #69b90b 100%);
  background-image: -o-linear-gradient(top, #95ce53 0%, #69b90b 100%);
  background-image: linear-gradient(top, #95ce53 0%, #69b90b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#95ce53', endColorstr='#69b90b',GradientType=0 );
  background-repeat: no-repeat;
}
#jcd_container .save_bar_top input.submit-button:hover {
  background-color: #69b90b;
}
#jcd_container .save_bar_top input.reset-button {
  background: #ee5f5f;
  border-color: #ab0f25;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ee5f5f), color-stop(100%, #e71c1c));
  background-image: -webkit-linear-gradient(top, #ee5f5f 0%, #e71c1c 100%);
  background-image: -moz-linear-gradient(top, #ee5f5f 0%, #e71c1c 100%);
  background-image: -o-linear-gradient(top, #ee5f5f 0%, #e71c1c 100%);
  background-image: linear-gradient(top, #ee5f5f 0%, #e71c1c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5f', endColorstr='#e71c1c',GradientType=0 );
  background-repeat: no-repeat;
}
#jcd_container .save_bar_top input.reset-button:hover {
  background-color: #e71c1c;
}

#jcdform-reset {
  float: left;
}

/* ===================================================================
  #SIDEBAR MANAGER
=================================================================== */
#wpcontent #jcd_container #content.sbm-content {
  padding-top: 20px;
}

#wpcontent #jcd_container #content.sbm-content {
  padding-top: 20px;
}
#wpcontent #jcd_container #content.sbm-content .info-box {
  position: relative;
  margin: 0 20px 20px 20px;
  padding: 0 12px;
  background: #fff298;
  border: 1px solid #ecd852;
}
#wpcontent #jcd_container #content.sbm-content .info-box h2 {
  font: bold 14px Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
#wpcontent #jcd_container #content.sbm-content .info-box p {
  margin: 5px 0 10px;
  font-family: Helvetica, Arial, sans-serif;
}
#wpcontent #jcd_container #content.sbm-content .info-box .btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

#sbm-sidebar {
  float: left;
  width: 190px;
  margin: 0 20px 0 0;
}

#sbm-main {
  position: relative;
  padding: 0 20px;
  overflow: hidden;
}

/* Sidebar Menu
------------------------------------------------------------------- */
#jcd_container #jcd-sbm-menu {
  min-width: 186px;
  border: none;
}

#jcd_container #jcd-sbm-menu h3 {
  padding: 10px 9px;
  font-size: 12px;
  cursor: default;
  margin: 0;
  color: #fff;
  background: #121212;
  border-bottom: #222;
  text-shadow: 0 1px rgba(0, 0, 0, 0.5);
}

#jcd_container #jcd-sbm-menu ul ul {
  margin: 0;
  color: #f0f0f0;
  background: #222;
  padding: 8px 10px;
  border-top: 1px solid #121212;
  border-bottom: 1px solid #121212;
}

#jcd_container #jcd-sbm-menu ul li {
  cursor: pointer;
}

#jcd_container #jcd-sbm-menu ul li a {
  display: block;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  text-decoration: none;
}

#jcd_container #jcd-sbm-menu ul li a:hover, #jcd_container #jcd-sbm-menu ul li li:hover {
  color: #757575;
}

#jcd_container #jcd-sbm-menu ul ul li {
  margin-bottom: 4px;
}

#jcd_container #jcd-sbm-menu ul ul li span {
  display: none;
}

ul#jcd-sbm-menu_ul li a span {
  color: #999;
  float: right;
  font-size: 10px;
}

#jcd_container h3 {
  margin: 0 0 10px 0;
}

#jcd_container h3 span {
  font-size: 10px;
  color: #ccc;
}

#jcd_container .jcd-sbm-tip {
  display: block;
  padding: 15px 15px 15px 15px;
  margin-bottom: 10px;
  background: #EDFCD5;
  text-shadow: 0 1px 0 #FFFFFF;
  border: 1px solid #D4EBAF;
  font: italic 13px/1.5em Georgia, serif;
}

#jcd_container #jcd-sbm-get-links {
  display: none;
}

#jcd-sbm-toggle-info {
  float: right;
  margin: 3px 5px 0 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
}

#jcd-sbm-toggle-info img {
  vertical-align: top;
  padding: 0 0 0 5px;
}

#jcd_container .jcd-sbm-builder {
  position: relative;
}

#jcd_container .jcd-sbm-builder .nav-tabs-nav {
  margin: 0 0 0 10px;
}

#jcd_container .jcd-sbm-builder .nav-tab {
  background: #F4F4F4;
  font-size: 11px;
  border-bottom: 1px solid #ccc;
}

#jcd_container .jcd-sbm-builder .nav-tab-active {
  font-weight: bold;
  background: #ececec;
  border-bottom: 1px solid #ececec;
}

#jcd_container .jcd-sbm-builder .builder-header {
  padding: 10px;
  border: 1px solid #ccc;
  border-width: 1px 1px 0;
  background: url("images/gray-grad.png") repeat-x scroll left top #dfdfdf;
  border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
}

#jcd_container .jcd-sbm-builder label {
  display: block;
  margin-bottom: 0px;
  padding: 5px 0;
  font-size: 12px;
}

#jcd_container .jcd-sbm-builder label span {
  float: left;
  width: 130px;
  font-weight: 700;
  text-align: right;
  margin-right: 10px;
}

#jcd_container .jcd-sbm-builder #jcd-sbm-label-sb-name span {
  padding-top: 5px;
}

#jcd_container .jcd-sbm-builder #jcd-sbm-builder-body label span {
  font-size: 13px;
  color: #333;
  padding-top: 3px;
}

#jcd_container .jcd-sbm-builder #jcd-sbm-builder-body select {
  width: 330px;
}

#jcd_container .jcd-sbm-builder #sidebar-description {
  width: 330px!important;
  height: 80px;
}

#jcd_container .jcd-sbm-builder #sidebar-title {
  width: 330px;
  padding: 5px 0 6px 5px;
}

#jcd_container .jcd-sbm-builder .jcd-sbm-controls .button {
  width: 90px!important;
  margin-right: 23px;
}

#jcd_container .jcd-sbm-builder #jcd-sbm-more-info {
  text-align: center;
  display: block;
  font-size: 11px;
  text-transform: uppercase;
}

#jcd_container .jcd-sbm-builder-edit {
  float: none;
  width: auto;
  margin: 0;
  padding: 10px 0 0;
  border: 0;
  background: transparent none;
}

#jcd_container .jcd-sbm-builder-edit input {
  width: 230px;
}

#jcd_container #jcd-sbm-response-builder input {
  font-size: 12px;
  padding: 3px;
  width: 280px;
}

#jcd_container #jcd-sbm-sidebars {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eee;
}

#jcd_container #jcd-sbm-sidebars #menu-to-edit {
  padding: 0 0 30px;
}

#jcd_container #jcd-sbm-sidebars #menu-to-edit li dt {
  width: 492px;
  cursor: default;
}

#jcd_container #jcd-sbm-sidebars #menu-to-edit li .menu-item-settings .description-thin {
  width: 236px;
}

#jcd_container #jcd-sbm-sidebars #menu-to-edit li .menu-item-settings .description-wide {
  width: 481px;
}

#jcd_container #jcd-sbm-sidebars #menu-to-edit li .menu-item-settings p label input, #jcd_container #jcd-sbm-sidebars #menu-to-edit li .menu-item-settings p label select, #jcd_container #jcd-sbm-sidebars #menu-to-edit li .menu-item-settings p label textarea {
  margin-top: 5px;
}

#jcd_container #jcd-sbm-sidebars #menu-to-edit li .menu-item-settings p {
  margin-bottom: 20px;
}

#jcd_container #jcd-sbm-sidebars #menu-to-edit li .menu-item-settings .menu-item-actions {
  padding: 0;
  margin-top: -8px;
}

#jcd_container #jcd-sbm-sidebars #menu-to-edit li.menu-item-depth-1 {
  margin-left: 15px;
}

#jcd_container #jcd-sbm-sidebars #menu-to-edit li.menu-item-depth-1 dt {
  width: 477px;
}

#jcd_container #jcd-sbm-sidebars #menu-to-edit li.menu-item-depth-1 .menu-item-settings {
  width: 477px;
}

#jcd_container #jcd-sbm-sidebars #menu-to-edit li.menu-item-depth-1 .menu-item-settings .description-thin {
  width: 336px;
}

#jcd_container #jcd-sbm-sidebars #menu-to-edit li .menu-item-settings p label {
  z-index: 9999;
  position: relative;
}

#jcd_container .menu-item-depth-1 {
  margin-left: 30px;
}

#jcd_container #jcd-sbm-builder-meta {
  display: none;
  font-size: 11px;
  padding: 0px;
  background: #fff;
  color: #555;
  border: 1px solid #ccc;
  width: 320px;
  position: absolute;
  top: 27px;
  right: 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
}

#jcd_container #jcd-sbm-builder-meta label {
  font-size: 11px;
  border-bottom: #ccc 1px solid;
  padding: 5px 10px;
}

#jcd_container #jcd-sbm-builder-meta label span {
  text-transform: uppercase;
  width: 40px;
  text-align: right;
  padding-right: 5px;
}

#jcd_container #jcd-sbm-builder-meta label.last {
  overflow: hidden;
  height: 18px;
}

#jcd_container #jcd-sbm-builder-body {
  padding: 10px;
  background: #f3f3f3;
  border: 1px solid;
  border-color: #fff #e3e3e3 #e3e3e3 #ddd;
}

#jcd_container #jcd-sbm-builder-body label {
  border: 0px;
}

#jcd_container #jcd-sbm-builder-body label span {
  color: #999;
  font-family: georgia,arial;
  font-size: 1.2em;
  font-weight: 100;
  font-style: italic;
}

#jcd_container .jcd-sbm-builder label span {
  position: relative;
  z-index: 9999;
}

#jcd_container #jcd-sbm-builder-meta-top {
  padding: 5px 10px;
  background: #ccc;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
}

#jcd_container #jcd-sbm-builder-part-assign {
  display: none;
}

#jcd_container #jcd-sbm-builder-message {
  display: block;
  font-size: 11px;
  padding: 10px 0;
  cursor: pointer;
  text-decoration: underline;
  color: green;
  font-weight: 700;
}

#jcd_container #jcd-sbm-builder-message:hover {
  text-decoration: none;
}

#jcd_container .jcd-sbm-controls {
  height: 20px;
  margin-top: 15px;
}

#jcd_container .jcd-sbm-controls .button {
  float: right;
}

#jcd_container .saved_sidebar {
  background: #D7E6F2;
  border: 1px solid #C2CFDF;
  font-size: 13px;
  margin-bottom: 3px;
  padding: 5px 10px;
}

#jcd_container .piggy {
  margin-left: 6px;
  background: #C9D9E6;
  padding: 0px 10px;
  font-size: 11px;
}

#jcd_container .delete-sidebar {
  float: right;
  font-size: 9px;
  color: red;
  margin-left: 15px;
}

#jcd_container .edit-sidebar {
  float: right;
  font-size: 9px;
  color: green;
}

/* Nav Menu - From wordjcd */
#menu-container .inside {
  padding-bottom: 10px;
}

.menu {
  padding-top: 1em;
}

#menu-to-edit {
  padding: 1em 0;
}

.menu ul {
  width: 100%;
}

.menu li {
  margin-bottom: 0;
  position: relative;
}

.menu-item-bar {
  clear: both;
  line-height: 1.5em;
  position: relative;
  margin-top: 13px;
}

.menu-item-handle {
  border: 1px solid #E6E6E6;
  position: relative;
  padding-left: 10px;
  height: auto;
  width: 400px;
  line-height: 35px;
  text-shadow: 0 1px 0 #FFFFFF;
  font-weight: bold;
  overflow: hidden;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
  word-wrap: break-word;
}

.menu-item-edit-active .menu-item-handle {
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -khtml-border-bottom-right-radius: 0;
  -khtml-border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.no-js .menu-item-edit-active .item-edit {
  display: none;
}

.js .menu-item-handle {
  cursor: move;
}

.menu li.deleting .menu-item-handle {
  background-color: #f66;
  background-image: none;
  text-shadow: 0 0 0 #ccc;
}

.menu-item-handle .item-title {
  padding: 7px 0;
  line-height: 20px;
  display: block;
  margin-right: 13em;
}

.item-type {
  text-transform: uppercase;
  font-size: 11px;
  color: #999999;
  padding-right: 10px;
}

.item-controls {
  font-size: 11px;
  position: absolute;
  right: 20px;
  top: -1px;
}

.item-controls a {
  text-decoration: none;
}

.item-controls a:hover {
  cursor: pointer;
}

.item-controls .item-order {
  padding-right: 10px;
}

.item-controls .item-order a {
  font-weight: bold;
}

body.js .item-order {
  display: none;
}

.item-controls .menu-item-delete:hover {
  color: #ff0000;
}

.item-edit {
  background: url("../../../../wp-admin/images/menu-bits.gif?ver=20100610") no-repeat scroll 0 -105px;
  position: absolute;
  right: -20px;
  top: 0;
  display: block;
  width: 23px;
  height: 36px;
  overflow: hidden;
  text-indent: -999em;
  border-bottom: 1px solid #eee;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -khtml-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* Menu editing */
.menu-instructions-inactive {
  display: none;
}

.menu-item-settings {
  background: #F9F9F9;
  display: block;
  width: 492px;
  padding: 10px 0 10px 10px;
  border: solid #E6E6E6;
  border-width: 0 1px 1px 1px;
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
}

.menu-item-settings:after {
  clear: both;
  content: '.';
  display: block;
  height: 0px;
  visibility: hidden;
}

.menu-item-edit-active .menu-item-settings {
  display: block;
}

.menu-item-edit-inactive .menu-item-settings {
  display: none;
}

.add-menu-item-pagelinks {
  margin: .5em auto;
  text-align: center;
}

.link-to-original {
  display: block;
  margin: 0 0 10px;
  padding: 3px 5px 5px;
  font-size: 11px;
  color: #777;
  font-style: italic;
  border: 1px solid #dfdfdf;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
}

.link-to-original a {
  padding-left: 4px;
  font-style: normal;
}

.hidden-field {
  display: none;
}

.menu-item-settings .description-thin,
.menu-item-settings .description-wide {
  margin-right: 10px;
  float: left;
}

.description-thin {
  width: 190px;
  height: 40px;
}

.description-wide {
  width: 390px;
}

.menu-item-actions {
  padding-top: 15px;
}

#cancel-save {
  cursor: pointer;
}

#cancel-save:hover {
  color: #fff !important;
}

#update-menu-item {
  color: #fff !important;
}

#update-menu-item:hover,
#update-menu-item:active,
#update-menu-item:focus {
  color: #eaf2fa !important;
  border-color: #13455b !important;
}

/* String Builder */
.add_button {
  height: 50px;
}

.string_option {
  margin-bottom: 5px;
  padding: 7px 12px;
  font-size: 12px;
  background: #f7f7f7;
  border: 1px solid #dfdfdf;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -khtml-border-radius: 6px;
}

.string_option span {
  font-weight: 700;
}

.string_option .delete {
  text-transform: uppercase;
  font-size: 10px;
  float: right;
  color: red;
}

/*-------------------------------------------------------------------------------------------*/
/* Icons Option panel */
/*-------------------------------------------------------------------------------------------*/
#jcd_container #jcd-nav ul li span.icon {
  background-position: 0 -20px;
  background-repeat: no-repeat;
  display: block;
  float: left;
  height: 16px;
  width: 16px;
  margin-left: 23px;
  padding: 16px 0 0 9px;
  background-image: url(images/option-icon-sprite.png);
}

#jcd_container #jcd-nav ul li.general span.icon {
  background-position: 0 10px;
}

#jcd_container #jcd-nav ul li.styling span.icon {
  background-position: 0 -50px;
}

#jcd_container #jcd-nav ul li.layout span.icon {
  background-position: 0 -80px;
}

#jcd_container #jcd-nav ul li.image span.icon {
  background-position: 0 -110px;
}

#jcd_container #jcd-nav ul li.connect span.icon {
  background-position: 0 -170px;
}

#jcd_container #jcd-nav ul li.ads span.icon {
  background-position: 0 -200px;
}

#jcd_container #jcd-nav ul li.slider span.icon {
  background-image: url(images/option-icon-slider.png);
  background-position: 0 10px;
}

/*-------------------------------------------------------------------------------------------*/
/* WP E Commerce Plugin Options Panel */
/*-------------------------------------------------------------------------------------------*/
#wpsc-presentation {
  min-height: 2650px;
  width: 600px;
}

/*-------------------------------------------------------------------------------------------*/
/* GENERAL STYLES */
/*-------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear {
  background: none;
  border: 0;
  clear: both;
  display: block;
  float: none;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/*-------------------------------------------------------------------------------------------*/
/* BUTTON FOR BUDDYPRESS */
/*-------------------------------------------------------------------------------------------*/
div#bp-wizard div.prev-next {
  overflow: visible;
  visibility: visible;
  width: auto;
}


.item-detail-wrapper {
  max-width: 700px;
}
.item-detail-wrapper .item-thumbnail {
  float: left;
  margin-right: 20px;
}
.item-detail-wrapper .item-thumbnail img {
  border: 5px solid #eee;
  display: block
}
.item-detail-wrapper .item-detail {
  overflow: hidden
}


#jcd_container .section-multiselect .search-field input:focus {
  box-shadow: none;
  margin-bottom: 0;
}
