/*
Theme Name: Jen Clark Design
Theme URI: http://jenclarkdesign.com.au
Author: Jen Clark Design
Author URI: http://jenclarkdesign.com.au
Description: WordPress Theme for Jen Clark Design
Version: 3.0
*/

/**
 * Add Custom CSS here
 */

html.mm-front .mm-menu.mm-offcanvas {
    z-index: 2000;
}

.minimal-slider__item {
    overflow: hidden;
}

@media (max-width: 320px) {
    .block-section__title {
        font-size: 30px;
    }
}


/* ===================================================================
  HOME
=================================================================== */
@media (min-width: 600px) and (max-width: 640px) {
    .hero-section__image {
        width: 70%;
        left: -5%;
    }

    .link-list-item:nth-child(2n) .link-list-item__content {
        top: auto;
        bottom: -30px;
        width: 450px;
    }
}


/* ===================================================================
  ABOUT
=================================================================== */
@media (min-width: 600px) and (max-width: 899px) {
    .image-row-section__image-decor {
        display: block;
        width: 200px;
        height: 200px;
        left: -20px;
        top: -20px;
    }
}


/* ===================================================================
  FOOTER
=================================================================== */
.footer-nav-scroller .js-horz-content {
    float: left;
}


/* Home
------------------------------------------------------------------- */
.ongoing-client-list img {
    max-height: 100px;
    width: auto;
    display: block;
    margin: 0 auto;
}

@media (min-width: 900px) {
    .ongoing-client-list,
    .ongoing-client-list-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}