/* ===================================================================
  BLOCK SQUARE
=================================================================== */
.block-square__inner {
  height: 0;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
}

.block-square__center {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}