/* ===================================================================
  BLOG ITEM
=================================================================== */
.blog-item {
  margin-bottom: 90px;
}

.blog-item__meta {
  @include font-size(13);
  line-height: em(16, 13);
  color: #999;
  text-transform: uppercase;
}

.blog-item__title {
  font-weight: $font-weight-normal;
  @include font-size(28);
  line-height: em(34, 28);
  letter-spacing: 3.11px;
  text-transform: uppercase;

  a {
    color: $color-text;
  }

  a:hover {
    color: $color-primary;
  }
}

.blog-item__excerpt {
  p {
    margin-bottom: 0;
  }
}