/* ===================================================================
  MINIMAL SLIDER
=================================================================== */
.minimal-slider__nav {
  ul {
    @include reset-list;
    margin-left: -5px;
  }

  li {
    display: inline-block;
  }

  button {
    @include font-size(0);
    appearance: none;
    padding: 5px;
    background: 0;
    border: 0;
  }

  button:before {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    border: 1px solid $color-text;
    border-radius: 100%;
  }

  button:hover:before,
  .slick-active button:before {
    background: $color-text;
  }
}