/* ===================================================================
  PAGE HEADING
=================================================================== */
.page-heading {
  padding-top: 60px;
  padding-bottom: 90px;

  @include for-tablet-portrait-up {
    padding-top: 80px;
    padding-bottom: 110px;
  }
}

.page-heading__title {
  letter-spacing: 6.67px;
  font-family: $font-family-secondary;
  font-weight: $font-weight-normal;
  margin: 0;

  @include for-tablet-landscape-up {
    @include font-size(64);
    line-height: em(92, 64);
  }
}

.page-heading__meta {
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;
  
  a {
    color: $color-text;
  }

  a:hover {
    color: $color-primary;
  }
}

.page-heading__meta__sep {
  margin: 0 2px;
  display: inline-block;
}

.page-description {
  max-width: 860px;
  margin: 0 auto 60px;
  @include font-size(18);
  line-height: em(26, 18);

  @include for-tablet-portrait-up {
    @include font-size(24);
    line-height: em(34, 24);
    margin-bottom: 90px;
  }
}