/* ===================================================================
  PORTFOLIO ITEM
=================================================================== */
.portfolio-item {
  margin-bottom: ($gutter / 2);
  
  @include at-query(null, 400px, 599px) {
    width: 50%;
  }

  @include for-desktop-up {
    width: 25%;
  }

  @include at-query ($min, $small) {
    margin-bottom: $gutter;
  }
}

.portfolio-item__inner {
  display: block;
  height: 0;
  position: relative;
  padding-bottom: 100%;
  background: $color-primary;
}

.portfolio-item__meta,
.portfolio-item__image {
  transition: opacity 0.25s ease;
}

.portfolio-item__meta {
  opacity: 0;
  color: $white;
  z-index: 10;
  text-transform: uppercase;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio-item__title {
  font-weight: $font-weight-normal;
  @include font-size(20);
  line-height: 1.2em;
  letter-spacing: 1.66px;
  margin-bottom: 10px;
}

.portfolio-item__button {
  font-weight: $font-weight-normal;
  @include font-size(13);
  letter-spacing: 1px;
  line-height: 1.15em;
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
  display: inline-block;
}

.portfolio-item__inner:hover {
  .portfolio-item__image {
    opacity: 0.05;
  }

  .portfolio-item__meta {
    opacity: 1;
  }
}