/* ===================================================================
  SOCIAL LINKS
=================================================================== */
.social-links {
  @include font-size(18);
  line-height: em(28, 18);

  a {
    color: $color-text;
    text-decoration: underline;
  }

  a:hover {
    color: $color-primary;
  }
}