/* ===================================================================
  WIDGETS
=================================================================== */
.sidebar {
  padding-top: 60px;

  @include for-tablet-landscape-up {
    padding-top: 0;
  }

  @include for-desktop-up {
    padding-left: 60px;
  }
}

.widget {
  margin-bottom: 60px;

  @include for-tablet-landscape-up {
    margin-bottom: 90px;
  }
}

.widget__title {
  text-transform: uppercase;
  font-weight: $font-weight-normal;
  @include font-size(20);
  line-height: em(26, 20);
  color: $color-tertiary;
  letter-spacing: 2.22px;
  margin: 0 0 20px;

  .footer-section & {
    color: $color-text;
  }
}

@import 'widget-categories';
@import 'widget-popular';
@import 'widget-subscribe';
