/* ===================================================================
  WIDGET SUBSCRIBE
=================================================================== */
.widget-mailchimp-subscribe {
  form {
    border-bottom: 1px solid $color-text;
  }

  .input-group__button button {
    color: $color-primary;
  }

  input[type="text"] {
    border-bottom: 0;
  }
}