/* ===================================================================
  WIDGET CATEGORIES
=================================================================== */
.widget_categories {
  ul {
    @include reset-list;
  }

  li {
    display: inline-block;
  }

  a {
    color: $color-text;
    display: inline-block;

    &:hover {
      color: $color-primary;
    }

    &:after {
      content: "\2022";
      margin: 0 3px 0 5px;
      display: inline-block;
    }
  }
}