/* ===================================================================
  WIDGET POPULAR
=================================================================== */
.widget-popular-post {
  ul {

  }

  li {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: $color-text;
    display: block;
    
    &:hover {
      color: $color-primary;
    }

    @include for-tablet-landscape-up {
      padding-left: 10px;
    }
  }
}