/* ===================================================================
  GRAVITY FORM
=================================================================== */
.gform_fields {
  list-style: none;
  padding: 0;
  @extend .grid;

  .gform_validation_container {
    display: none!important;
    position: absolute!important;
    left: -9000px;
  }
}

.gfield {
  @extend .grid__item;
  margin-bottom: 30px;
}

.gfield_label {
  display: block;
  margin-bottom: 5px;
  font-weight: $font-weight-bold;
}

.gfield_required {
  color: $color-error;
}

.gf_left_half {
  // clear: left;
}

.gf_left_half,
.gf_right_half,
.gfield.sixcol {
  @extend .large--one-half;
  @extend .medium--one-half;
}

.gfield_visibility_ {
  display: none;
}


/* Messages
------------------------------------------------------------------- */
.validation_error,
.validation_message {
  @extend .message;
  @extend .message--error;
}


/* Separator
------------------------------------------------------------------- */
.gfield.separator {
  margin-top: 30px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 30px;
    top: 0;
    right: 0;
    height: 1px;
    background-color: $color-gray;
  }

  .gsection_title {
    display: none;
  }
}


/* Section Title
------------------------------------------------------------------- */
.gsection_title {
  text-align: center;
  text-transform: uppercase;
  font-weight: $font-weight-medium;
  color: $color-primary;
}


/* Modifier
------------------------------------------------------------------- */
.gfield.nolabel {
  .gfield_label {
    display: none;
  }

  .gfield_description {
    padding-left: 0;
    @extend .grid__item;
    @extend .large--four-twelfths;
    @extend .medium--four-twelfths;
  }

  .ginput_container {
    @extend .grid__item;
    @extend .large--eight-twelfths;
    @extend .medium--eight-twelfths;
  }
}


/* Textarea Size
------------------------------------------------------------------- */
.gform_wrapper textarea.small {
  height: 80px;
}


/* Radio
------------------------------------------------------------------- */
.gfield_radio {
  @include reset-list;
  
  li {
    margin-bottom: 8px;
    padding-left: 25px;
    position: relative;
  }

  input[type="radio"] {
    position: absolute;
    left: 0;
    top: 5px;
  }
}


/* Footer
------------------------------------------------------------------- */
.gform_page_footer {
  text-align: right;
}

.gform_next_button,
.gform_button {
  @extend .font-weight-bold;
  @extend .button--primary;
  @extend .button--wide;
}

.gform_previous_button {
  @extend .font-weight-bold;
  @extend .text-uppercase;
  @extend .button--wide;
}

.page-template-template-quotation .gform_body {
  margin-bottom: 60px;
}