/* ===================================================================
  SEARCH FORM
=================================================================== */
.search-form {
  position: relative;
  border-bottom: 1px solid $color-text;
  
  input {
    border-color: #ddd;
    padding-right: 50px;
    background: $white;
    border-bottom: 0;
  }
}

.search-form__button {
  // color: $color-secondary;
  @include font-size(20);
  line-height: 1;
  outline: 0;

  button {
    background: transparent;
  }
}