/* ===================================================================
  MAIN NAVIGATION
=================================================================== */
.main-nav {
  ul {
    @include reset-list;
  }

  li {
    display: inline-block;

    &:after {
      content: "\2022";
      display: inline-block;
      margin: 0 8px;
    }
  }

  a {
    color: $color-text;
    display: inline-block;
    line-height: em(24);
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
  }

  a:hover,
  .current-menu-item > a {
    color: $color-primary;
    border-bottom-color: $color-primary;
  }

  .current-menu-item > a {
    font-weight: $font-weight-bold;
  }

  .menu-highlight {
    background: $white;

    a {
      color: $color-secondary;
    }

    @include for-desktop-up {
      position: absolute;
      right: 40px;
    }
  }
}


/* Horizontal Scroll Nav
------------------------------------------------------------------- */
.main-nav-scroller {
  position: relative;
}

.js-horz-container {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;

  .js & {
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .js &::-webkit-scrollbar {
    display: none;
  }

  .no-transition {
    transition: none;
  }
}

.js-horz-content {
  transition: transform 0.2s ease;
}

.topbar-section .js-horz-content {
  float: left;

  @include at-query($min, 1400px) {
    float: right;    
  }
}

.horizontal-nav {
  position: relative;
}

.horizontal-nav__button {
  position: absolute;
  top: -4px;
  bottom: 1px;
  outline: 0;
  padding: 0 5px;
  @include font-size(30);
  color: #ccc;
  opacity: 0;
  display: none;
  transition: opacity 0.2s ease;

  &.prev {
    left: -1px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), white 50%);

    [data-overflowing="both"] ~ &,
    [data-overflowing="left"] ~ & {
      opacity: 1;
      display: block;
    }
  }

  &.next {
    right: -1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%);

    [data-overflowing="both"] ~ &,
    [data-overflowing="right"] ~ & {
      opacity: 1;
      display: block;
    }
  }
}