/* ===================================================================
  PAGINATION
=================================================================== */
.jcd-pagination {
  text-align: center;

  a.page-numbers,
  span.page-numbers {
    min-width: 1em;
    line-height: 1em;
    padding: 14px;
    display: inline-block;
    color: #aaa;
    box-sizing: content-box;
    text-align: center;
    @include font-size(18);
    margin: 0 5px 5px;
    text-transform: uppercase;
    font-family: $font-family-display;
    border: 2px solid transparent;

    @include at-query($max, 600px) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .page-numbers.current,
  a.page-numbers:hover {
    color: $color-primary;
    border-color: $color-primary;
  }
}

.woocommerce-pagination {
  @extend .jcd-pagination;
  
  ul {
    @include reset-list;
  }

  li {
    display: inline-block;
  }
}