/* ===================================================================
  ABOUT CONTENT
=================================================================== */
.about-content {
  @include for-desktop-up {
    padding-top: 30px;
  }
}

.image-row-section {
  margin-bottom: 60px;

  &.vertical-align-top {
    .image-row-section__grid {
      vertical-align: top;
    }
  }

  &.vertical-align-bottom {
    .image-row-section__grid {
      vertical-align: bottom;
    }
  }
}

.image-row-section__title {
  font-weight: $font-weight-normal;
  @include font-size(28);
  letter-spacing: 3.11px;
  line-height: em(34, 28);
  margin: 0 0 20px;
  text-transform: uppercase;

  @include for-tablet-landscape-up {
    margin-bottom: 35px;
  }
}

.image-row-section__image {
  margin-bottom: 30px;
  position: relative;

  img {
    position: relative;
    z-index: 10;
    // display: block;
  }

  @include for-tablet-landscape-up {
    padding-left: 50px;
    padding-right: 50px;

    .has-decoration & img {
      margin: 40px 0 0 40px;
      max-width: 360px;
    }
  }
}

.image-row-section__image-decor {
  display: none;
  width: 360px;
  height: 336px;
  position: absolute;

  @include for-tablet-landscape-up {
    display: block;
  }
}