/* ===================================================================
  ACCORDION SECTION
=================================================================== */
.accordion-item {
  margin-bottom: 60px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }
}

.accordion-item__inner {
  padding-left: 60px;

  @include for-tablet-portrait-up {
    padding-left: 90px;
  }
}

.accordion-item__button {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: 2px solid #ccc;
  position: absolute;
  left: 0;
  outline: 0;

  &:before,
  &:after {
    content: "";
    width: 20px;
    height: 2px;
    background-color: #ccc;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -10px;
    transform-origin: 50% 50%;
    transition: all 0.3s ease;
  }
}

.accordion-item__title {
  cursor: pointer;
  font-weight: $font-weight-normal;
  line-height: em(34, 24);
  margin: 0;
  @include font-size(20);

  @include for-tablet-portrait-up {
    @include font-size(24);
  }
}

.accordion-item__description {
  padding-top: 20px;

  p:last-child {
    margin-bottom: 0;
  }
}


/* Closed State
------------------------------------------------------------------- */
.accordion-item.closed {
  .accordion-item__button {
    border-color: #8FCAA7;

    &:before,
    &:after {
      background-color: $color-tertiary;
    }

    &:after {
      transform: rotate(-90deg);
    }
  }

  .accordion-item__description {
    display: none;
  }
}