/* ===================================================================
  CONTACT SECTION
=================================================================== */
.contact-section__text {
  @include font-size(20);
  line-height: em(30, 20);
  margin-bottom: 45px;
}

.contact-section__form {
  margin-bottom: 60px;

  @include for-tablet-landscape-up {
    margin-bottom: 0;
  }
}

.page-template-template-contact {
  .contact-section {
    padding-top: 0;
    padding-bottom: 0;
  }

  .contact-section__side {
    @extend .sidebar;
  }
}


/* Contact Info
------------------------------------------------------------------- */
.contact-section__info__title {
  font-weight: $font-weight-normal;
  @extend .h3;
  letter-spacing: 2px;
  margin: 0 0 25px;
  text-transform: uppercase;
}

.contact-section__side {
  .widget__title {
    color: $color-text;
  }
}