/* ===================================================================
  HERO SECTION
=================================================================== */
.hero-section {
  background: #F7F7F7;

  &__wrapper {
    position: relative;
    padding-bottom: 70px;
  }

  &__content {
    z-index: 10;
    background: #1C304D;
    background: rgba(#1C304D, 0.95);
    color: $white;
    padding: $gutter / 2;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
  }

  &__description {
    @include font-size(20);
    line-height: em(30, 20);

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__image {
    min-height: 480px;
    position: relative;
  }

  &__link {
    margin-top: 40px;
  }

  @include for-tablet-portrait-up {
    &__wrapper {
      padding-bottom: 85px;
    }
    
    &__content {
      padding: 60px;
    }

    &__link {
      margin-top: 60px;
    }

    &__description {
      @include font-size(28);
      line-height: em(38, 28);
    }
  }

  @include for-tablet-landscape-up {
    &__content {
      width: 540px;
      left: auto;
      right: 40px;
    }
  }

  @include for-desktop-up {
    &__content {
      right: 60px;
    }
  }
}

/* Parallax
------------------------------------------------------------------- */
@include for-tablet-landscape-up {
  .js-hero-parallax {
    transform: translateY(var(--ty));
    transition: transform .1s;
    will-change: transform;
  }
}