/* ===================================================================
  INSTAGRAM
=================================================================== */
.instagram-section__title {
  @include for-desktop-up {
    margin-bottom: 90px;
  }
}

.instagram-item-list {
  margin-left: -10px;

  .instagram-item {
    padding-left: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  .block-square__inner {
    background: $color-primary;
    
    a {
      line-height: em(19);
      color: $white;
      box-sizing: border-box;
      font-weight: $font-weight-bold;
    }
  }

  .more-link a {
    @include font-size(18);

    @include for-tablet-portrait-up {
      @include font-size(22);
    }

    @include for-tablet-landscape-up {
      @include font-size(16);
    }
  }
}