/* ===================================================================
  LINK LIST SECTION
=================================================================== */
.link-list-section {
  .link-list-section__wrapper {
    @include for-phone-only {
      max-width: none;
      padding: 0;
    }
  }

  @include for-tablet-portrait-up {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  @include for-desktop-up {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.link-list-item {
  @include for-tablet-portrait-up {
    margin-bottom: 90px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.link-list-item__inner {
  position: relative;

  @include for-tablet-portrait-up {
    padding-bottom: 104px;

    .link-list-item:nth-child(2n) &,
    .link-list-item:nth-child(3n) & {
      padding-bottom: 0;
    }
  }
}

.link-list-item__image {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  img {
    opacity: 0;
    display: block;
  }

  @include for-tablet-portrait-up {
    position: relative;
    width: 500px;
    height: 500px;
    float: left;

    .link-list-item:nth-child(2n) & {
      float: right;
    }
  }
}

.link-list-item__content {
  $bg-opacity: 0.95;

  background: #1B5A4F;
  background: rgba(#1B5A4F, $bg-opacity);
  color: $white;
  padding: 50px 20px;
  position: relative;
  z-index: 10;
  box-sizing: border-box;

  .link-list-item:nth-child(2n) & {
    background: #49234B;
    background: rgba(#49234B, $bg-opacity);
  }

  .link-list-item:nth-child(3n) & {
    background: #1C304D;
    background: rgba(#1C304D, $bg-opacity);
  }

  // Tablet Up
  @include for-tablet-portrait-up {
    background: #1B5A4F;
    padding: 50px;
    width: 456px;
    position: absolute;
    right: 0;
    bottom: 0;

    .link-list-item:nth-child(2n) & {
      background: #49234B;
      width: 541px;
      top: 80px;
      bottom: auto;
      right: auto;
      left: 0;
    }

    .link-list-item:nth-child(3n) & {
      background: #1C304D;
      width: 400px;
      bottom: 40px;
    }
  }

  // Tablet landscape up
  @include for-tablet-landscape-up {
    right: 16.666%;
    right: calc(16.666% + 40px);

    .link-list-item:nth-child(2n) & {
      left: 8.333%;
      left: calc(8.333% + 40px);
    }

    .link-list-item:nth-child(3n) & {
      right: 8.333%;
      right: calc(8.333% + 40px);
    }
  }
}

.link-list-item__title {
  font-weight: $font-weight-normal;
  @include font-size(36);
  line-height: em(38, 36);
  letter-spacing: 4px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.link-list-item__description {
  margin-bottom: 25px;
}

.link-list-item__link {
  padding: 3px 0;
  font-weight: $font-weight-bold;
  color: $white;
  display: inline-block;
  border-bottom: 1px solid $white;

  &:hover {
    color: $white;
    opacity: 0.8;
    border-bottom-color: transparent;
  }
}


/* Parallax
------------------------------------------------------------------- */
@include for-tablet-landscape-up {
  .js-service-parallax {
    transform: translateY(var(--ty));
    transition: transform .1s;
    will-change: transform;
  }
}