/* ===================================================================
  MEMBERSHIP SECTION
=================================================================== */
.membership-section {
  border-top: 1px solid #ddd;

  @include for-tablet-landscape-up {
    margin-top: 30px;
  }
}

.membership-list {
  text-align: center;

  .membership-item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 30px 20px;

    img {
      filter: grayscale(1);
    }
  }
}

.membership-section__title {
  @include for-tablet-portrait-up {
    @include font-size(36);
  }

  @include for-tablet-landscape-up {
    margin-bottom: 80px;
  }
}