/* ===================================================================
  PROJECT SECTION
=================================================================== */
.project-section {
  background: #f7f7f7;
}

.project-section__title {
  font-family: $font-family-secondary;

  @include for-tablet-landscape-up {
    margin-bottom: 80px;
    @include font-size(64);
  }
}

.project-section__button {
  width: 279px;

  @include for-tablet-landscape-up {
    margin-top: 50px;
  }
}