/* ===================================================================
  SERVICE LIST
=================================================================== */
.service-item {
  margin-bottom: 65px;
}

.service-item__image {
  text-align: center;
  margin-bottom: 10px;
}

.service-item__title {
  padding: 0 10px;
  text-transform: uppercase;
  text-align: center;
  font-weight: $font-weight-normal;
  @include font-size(28);
  line-height: em(34, 28);
  letter-spacing: 3.11px;
  margin: 0 0 18px;

  @include for-tablet-portrait-up {
    text-align: left;
    padding: 0;
  }
}

.service-item__caps ul {
  margin-top: 0;
}