/* ===================================================================
  STEP TREE
=================================================================== */
.step-tree {
  @include reset-list;
}

.step-tree__item {
  margin-left: 20px;
  padding: 0 0 60px 40px;
  border-left: 1px solid #8FCAA7;
  position: relative;

  &.last {
    border-left-color: transparent;
    padding-bottom: 0;
  }

  @include at-query($min, 768px) {
    clear: both;
    width: 50%;
    margin: 0;
    box-sizing: border-box;
    padding-bottom: 30px;

    &.odd {
      float: right;
      padding-left: 70px;
    }

    &.even {
      left: 1px;
      float: left;
      border-left: 0;
      border-right: 1px solid #8FCAA7;
      padding-left: 0;
      padding-right: 70px;
      text-align: right;
    }

    &.last {
      max-width: 360px;
      margin: 0 auto;
      padding: 0;
      text-align: center;
    }
  }
}

.step-tree__item__counter {
  text-align: center;
  @include font-size(28);
  color: $color-tertiary;
  width: 48px;
  height: 48px;
  display: block;
  border: 1px solid #8FCAA7;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 100%;
  background: $white;
  position: absolute;
  left: -25px;

  @include at-query($min, 768px) {
    width: 80px;
    height: 80px;
    padding: 25px;
    left: -40px;

    .even & {
      left: auto;
      right: -40px;
    }

    .last & {
      position: relative;
      margin: 0 auto 30px;
      left: -1px;
    }
  }

  .flexbox & {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.step-tree__item__title {
  font-weight: $font-weight-normal;
  @include font-size(28);
  letter-spacing: 3.11px;
  line-height: em(34, 28);
  margin-bottom: 18px;
  text-transform: uppercase;
}

.step-tree__item__description {
  p {
    margin-bottom: em(8);
  }

  p:last-child {
    margin-bottom: 0;
  }
}