/* ===================================================================
  TESTIMONIAL SECTION
=================================================================== */
.testimonial-section {
  background-color: $color-secondary;
}

.testimonial-list-wrapper {
  margin-bottom: 60px;

  @include for-tablet-portrait-up {
    margin-bottom: 0;
  }
}

.testimonial-item__text {
  margin-bottom: 15px;
}

.testimonial-item__meta {
  margin-bottom: 30px;

  @include for-tablet-portrait-up {
    margin-bottom: 60px;
  }

  .flexbox & {
    display: flex;
    align-items: center;
  }
}

.testimonial-item__image {
  width: 60px;
  margin-right: 20px;
}

.testimonial-item__name {
  @include font-size(16);
  margin: 0;
}


/* Rating
------------------------------------------------------------------- */
.testimonial-rating {
  img {
    display: block;
    margin-bottom: 12px;
  }

}
.testimonial-rating__title {
  font-weight: $font-weight-normal;
  @include font-size(18);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: em(32, 18);
  margin-bottom: 10px;
}

.testimonial-rating__rate {
  @include font-size(72);
  line-height: em(83, 72);
}