/* ===================================================================
  FORM: TEXT FIELD
=================================================================== */
.form-label {
  display: block;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-weight: $font-weight-medium;
}

input[type="tel"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="file"],
textarea {
  border: 0;
  border-bottom: 1px solid $color-text;
  padding: 19px 0;
  width: 100%;
  color: $color-text;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 0;

  &:focus {
    outline: 0;
    box-shadow: 0 2px 10px 0px rgba(#000, 0.1);
  }

  &:disabled {
    color: $color-gray-1;
  }
}

textarea {
  resize: vertical;
}