// Variables

// Configurations

// $fix-mqs
//
// Define width for browsers w/out media query support
//
// $fix-mqs - {boolean}
// @source  - http://jakearchibald.github.com/sass-ie/

$fix-mqs:                     false !default;

// $old-ie
//
// Turn on/off IE specific styles
//
// $old-ie - {boolean}
// @source  - http://jakearchibald.github.com/sass-ie/

$old-ie:                      false !default;

// $zindex
//
// Define z-indexes for various elements
//
// $zindex - {map}
// @source - http://www.sitepoint.com/using-sass-maps/

$zindex: (
  overlay:                    9000,
  dropdown:                   8000,
  nav:                        7000,
  header:                     6000,
  footer:                     5000,
  pseduo:                     4000,
  default:                    1,
  bottomless-pit:             -10000
);

// ==========================================================================
// Breakpoint and Grid Variables
// ==========================================================================
$viewportIncrement: 1px;

$small: 599px;
$medium: 899px;
$large: 900px;

$postSmall: $small + $viewportIncrement;
$preMedium: $medium - $viewportIncrement;
$preLarge: $large - $viewportIncrement;

$breakpoints: (
  'small' '(max-width: #{$small})',
  'medium' '(min-width: #{$postSmall}) and (max-width: #{$medium})',
  'medium-down' '(max-width: #{$medium})',
  'large' '(min-width: #{$large})'
);
$breakpoint-has-widths: ('small', 'medium', 'medium-down', 'large');
$breakpoint-has-push:  ('medium', 'medium-down', 'large');
$breakpoint-has-pull:  ('medium', 'medium-down', 'large');

$siteWidth: 1040px;
$gutter: 40px;
$gridGutter: 40px;
