/* ===================================================================
  HELPER
=================================================================== */
.antialiased {
  @include antialiased;
}

.text-underline {
  text-decoration: underline;
}

.text-uppercase {
  text-transform: uppercase;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.clearfix {
  @include clearfix;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.layer-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.layer-cover-bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.font-family-display {
  font-family: $font-family-display;
}


/* Font Weight Helper
------------------------------------------------------------------- */
.font-weight-normal {
  font-weight: $font-weight-normal;
}

.font-weight-medium {
  font-weight: $font-weight-medium;
}

.font-weight-semibold {
  font-weight: $font-weight-semibold;
}

.font-weight-bold {
  font-weight: $font-weight-bold;
}


/* Text Align Helper
------------------------------------------------------------------- */
.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.vertical-align-middle {
  vertical-align: middle;
}


/* Background Color Helper
------------------------------------------------------------------- */
.background-color-lightgray {
  background-color: $color-form-background;
}

.background-color-dark {
  background-color: $dark;
}

.background-color-secondary {
  background-color: $color-secondary;
}

.background-color-lightblue {
  background-color: $color-lightblue;
}

.background-color-gray-3 {
  background: $color-gray-3;
}


/* Text Color Helper
------------------------------------------------------------------- */
.text-color-primary {
  color: $color-primary;
}

.text-color-white {
  color: $white;
}

.text-color-gray {
  color: $color-gray;
}

.text-color-gray-1 {
  color: $color-gray-1;
}

.text-color-gray-2 {
  color: $color-gray-2;
}

.text-color-text {
  color: $color-text;
}

/* Margin Helper
------------------------------------------------------------------- */
.mt-0 {
  margin-top: 0;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-0 {
  padding-bottom: 0;
}

.pt-0 {
  padding-top: 0;
}


/* Float Helper
------------------------------------------------------------------- */
.float-right {
  float: right;
}

.float-left {
  float: left;
}

.float-none {
  float: none;
}


/* Font Size Helper
------------------------------------------------------------------- */
.text-small {
  @include font-size(12);
}

.text-medium {
  @include font-size(18);
}

.text-large {
  @include font-size(22);
}


/* List Helper
------------------------------------------------------------------- */
.spaced-list li {
  margin-bottom: 20px;
}


/* Is Loading
------------------------------------------------------------------- */
.is-loading {
  opacity: 0.3;
  cursor: wait;
}