/* ===================================================================
  SINGLE PROJECT
=================================================================== */
.project-images__item {
  &, img {
    display: block;
  }

  margin-bottom: 40px;
}