/* ===================================================================
  FOOTER SECTION
=================================================================== */
.footer-section {
  background: #f8f8f8;

  a {
    color: $color-text;
  }

  @include for-tablet-landscape-up {
    .contact-section + .footer-nav-scroller .footer-nav {
      padding-top: 0;
    }
  }
}


/* Footer Menu
------------------------------------------------------------------- */
.footer-nav-scroller {
  position: relative;

  .horizontal-nav__button {
    top: 0;
    
    &.prev {
      background-image: linear-gradient(to left, rgba(#f8f8f8, 0), #f8f8f8 50%);
    }

    &.next {
      background-image: linear-gradient(to right, rgba(#f8f8f8, 0), #f8f8f8 50%);
    }
  }
}

.footer-nav,
.copyrights {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-nav {
  border-bottom: 1px solid #ddd;
}


/* Copyrights
------------------------------------------------------------------- */
.copyrights {
  @include font-size(14);
}