/* ===================================================================
  HEADER
=================================================================== */
.topbar-section {
  background: $white;
  padding-top: 30px;
  padding-bottom: 30px;

  .main-nav-grid {
    display: none;
    position: relative;
  }

  @include for-tablet-portrait-up {
    padding-top: $gutter;
    padding-bottom: $gutter;
  }

  @include for-desktop-up {
    .home & {
      padding-top: $gutter;
      padding-bottom: $gutter;
    }

    .js-sticky-bar.home & {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  @include at-query($min, 1070px) {
    .mobile-nav-grid {
      display: none;
    }

    .main-nav-grid {
      display: inline-block;
    }
  }
}

@include for-desktop-up {
  .topbar-section__wrapper {
    padding-right: 60px;
    padding-left: 30px;

    .home & {
      padding-left: $gutter;
    }

    .js-sticky-bar.home & {
      padding-left: 30px;
    }
  }
}

/* Logo
------------------------------------------------------------------- */
.logo__link {
  display: block;
}

// Alt Logo
.logo-alt {
  display: none;
  max-height: 60px;

  @include for-tablet-portrait-up {
    max-height: 90px;
  }

  @include for-tablet-landscape-up {
    max-height: none;
  }
}

.home {
  .logo-main {
    display: none;
  }

  .logo-alt {
    display: block;
  }
  
  // @include for-desktop-up {
  //   .main-nav-grid {
  //     vertical-align: top;
  //   }
  // }
}


/* Mobile Button
------------------------------------------------------------------- */
.menu-trigger {
  padding: 3px 7px;
  vertical-align: middle;
  display: inline-block;
  background: none;
  border: 0;
  -webkit-appearance: none; 
  outline: 0;
  margin-right: -7px;
}

.menu-trigger__bar {
  height: 2px;
  width: 30px;
  display: block;
  background: $color-text;
  transform-origin: 50% 50%;

  + .menu-trigger__bar {
    margin-top: 8px;
  }

  &:nth-child(2) {
    width: 22px;
    margin-left: 8px;
  }

  &:nth-child(3) {
    width: 26px;
    margin-left: 4px;
  }
}


/* Phone Number
------------------------------------------------------------------- */
.flexbox {
  .main-nav-flex {
    display: flex;
    align-items: center;
  }

  .main-nav-scroller {
    flex: 1;
    width: 50%;
    overflow: hidden;
  }
}

.main-nav-phone {
  padding-left: 10px;
  
  a {
    font-weight: $font-weight-bold;
    @include font-size(20);
    color: $color-primary;
  }

  .mobile-nav-grid & {
    display: none;
  }
  
  @include at-query($min, 400px) {
    .mobile-nav-grid & {
      display: inline-block;
      vertical-align: middle;
    }
  }

  @include for-tablet-portrait-up {
    .mobile-nav-grid & {
      margin-right: 30px;
    }
  }
}



/* Sticky Menu Activated
------------------------------------------------------------------- */
.js-sticky-bar {
  .main-nav-grid {
    vertical-align: middle;
  }

  .logo-main {
    display: block;
  }

  .logo-alt {
    display: none;
  }

  .topbar-section {
    box-shadow: 0 5px 10px rgba(#000, 0.1);
  }
}