/* ===================================================================
  BLOCKS
=================================================================== */
.block-section,
.main-content-section {
  padding-top: 80px;
  padding-bottom: 80px;

  @include for-desktop-up {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.main-content-section {
  padding-top: 0;
}

.block-section__button {
  @include for-tablet-landscape-up {
    display: inline-block;
    width: 273px;
    box-sizing: border-box;
  }
}

.block-section__title {
  @extend .h1;
  font-weight: $font-weight-normal;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0 0 45px;
  word-wrap: break-word;
}