.fix{clear: both;height: 1px;margin: -1px 0 0;overflow: hidden;}


#no-js {display:block;}

.maintitle  { margin: 0 0 20px 0!important;}

.logo  { vertical-align: middle; margin: 0 10px 0 0; }

#pages-left { min-width:650px;max-width:1100px;width: 100%; float:left; clear: left; margin-right: -315px; }
#pages-left .inside  {margin-top: 20px; margin-right: 315px; }
#nav-container  { margin-top: -3px; }

.sidebar-name  { background-color:#AAAAAA;
background-image:url(../../../../../wp-admin/images/ed-bg.gif);
border-color:#DFDFDF;
text-shadow:0 1px 0 #FFFFFF;-moz-border-radius-topleft:8px;
-moz-border-radius-topright:8px;
background-position:0 0;
background-repeat:repeat-x;
border-style:solid;
border-width:1px;
cursor:pointer;
font-size:13px; }


.sidebar-name h3 {
font-size:13px;
height:19px;
margin:0;
overflow:hidden;
padding:5px 12px;
white-space:nowrap;
}

.sidebar-name-arrow {
background:transparent url(../../../../../wp-admin/images/menu-bits.gif) no-repeat scroll left -109px;
float:right;
height:29px;
width:26px;
}

#menu-right { width: 285px; margin-right: 10px; margin-left: 20px; float:left; clear: right;}
h2.heading  { margin: 32px 0 10px 0; }

.widgets-holder-wrap  { margin: 0 0 20px 0; }
.widget-holder {
padding:15px 10px;
-moz-border-radius-bottomleft:8px;
-moz-border-radius-bottomright:8px;
border-style:none solid solid;
border-width:0 1px 1px;
background-color:#F1F1F1;
border-color:#DDDDDD;
}

.checkboxes  { float: right; margin: 10px 12px 0 0; }

.addtomenu  {
display: block;
float: right;
margin: 10px 0 0 0;
text-shadow:0 -1px 0 rgba(0, 0, 0, 0.3);
background:#21759B url(../../../../../wp-admin/images/button-grad.png) repeat-x scroll left top;
border-color:#298CBA !important;
color:#FFFFFF !important;
font-weight:bold;
-moz-border-radius-bottomleft:11px;
-moz-border-radius-bottomright:11px;
-moz-border-radius-topleft:11px;
-moz-border-radius-topright:11px;
border-style:solid;
border-width:1px;
cursor:pointer;
font-size:11px !important;
line-height:16px;
padding:2px 8px;
text-decoration:none;
}

.list { zoom: 1; }
.list li  { margin: 0; }
.list dt  { display:none; float: left; width: 260px; margin: 0; padding: 0 0 0 5px; line-height: 30px; border-bottom: 1px solid #e3e3e3;  }
.list dt span  { float: left; }
.list dt img  { cursor: pointer; float: right; margin: 7px 5px 0 0 }

#nav-container  { padding: 0 10px 10px 10px; background-color: #fff; border: 1px solid #DFDFDF; border-top: none; -moz-border-radius-bottomleft:8px; -moz-border-radius-bottomright:8px; }

#custom-nav ul  { width: 100%; }
#custom-nav li { margin: 0; }
.ui-draggable-dragging  { width: 500px; }
#custom-nav li dl dt { -webkit-border-bottom-left-radius:6px;-webkit-border-bottom-right-radius:6px;-webkit-border-top-left-radius:6px;-webkit-border-top-right-radius:6px;border-bottom-left-radius:6px;border-bottom-right-radius:6px;border-top-left-radius:6px;border-top-right-radius:6px;-moz-border-radius-bottomleft:6px;-moz-border-radius-bottomright:6px;-moz-border-radius-topleft:6px;-moz-border-radius-topright:6px;
border:1px solid #E6E6E6;position: relative; padding-left:10px;background-color: #f1f1f1; height: 35px; line-height: 35px; }
#custom-nav li dl dt:hover  { cursor: move; }
#custom-nav li dl dt .controls  { position: absolute; right: 15px; top: -1px; }
#custom-nav li dl dt img { vertical-align: middle; }
#custom-nav li dl dt a {}
#custom-nav li .title { background:url(../images/ico-arrow.png) no-repeat 4px 5px; padding-left:15px; }
#custom-nav li ul li { margin-left:20px; opacity:.7;}
#custom-nav li ul li ul li  { opacity: .9;}
#custom-nav li ul li ul li ul li   { opacity: .9;}
#custom-nav li ul li ul li ul li ul li   { opacity: .95; }

#existing-pages li .title { background:url(../images/ico-arrow.png) no-repeat 4px 13px;  padding-left:15px; }
#existing-pages li ul li .title  { margin-left:10px; }
#existing-pages li ul li ul li .title  { margin-left:20px; }
#existing-pages li ul li ul li ul li .title  { margin-left:30px; }
#existing-pages li ul li ul li ul li ul li .title  { margin-left:40px; }
#existing-pages li ul li ul li ul li ul li ul li .title  { margin-left:50px; }
#existing-pages li ul li ul li ul li ul li ul li ul li .title  { margin-left:60px; }
#existing-pages li ul li ul li ul li ul li ul li ul li ul li .title  { margin-left:70px; }
#existing-pages li ul li ul li ul li ul li ul li ul li ul li ul li .title  { margin-left:80px; }

#existing-categories li .title { background:url(../images/ico-arrow.png) no-repeat 4px 13px;  padding-left:15px; }
#existing-categories li ul li .title  { margin-left:10px; }
#existing-categories li ul li ul li .title  { margin-left:20px; }
#existing-categories li ul li ul li ul li .title  { margin-left:30px; }
#existing-categories li ul li ul li ul li ul li .title  { margin-left:40px; }
#existing-categories li ul li ul li ul li ul li ul li .title  { margin-left:50px; }
#existing-categories li ul li ul li ul li ul li ul li ul li .title  { margin-left:60px; }
#existing-categories li ul li ul li ul li ul li ul li ul li ul li .title  { margin-left:70px; }
#existing-categories li ul li ul li ul li ul li ul li ul li ul li ul li .title  { margin-left:80px; }


img.remove, img.edit  { cursor: pointer; margin: 0 5px 0 0; }

.dropzone {height:7px;margin: 3px 0 3px 0;}

#custom-nav li dl {}

.hide {display:none;}

.type { text-transform: uppercase; font-size: 11px; color: #999999; padding-right:10px; }

#menu_select { width: 170px; }

#dialog-confirm label { padding-left: 10px; }

/* EDIT LINK BOX */
.ui-dialog  { background: #fff; border: 1px solid #555555; -moz-box-shadow:0 4px 30px #000000; }
.ui-dialog-titlebar  { color: #CFCFCF;font-family:"Lucida Grande",Verdana,Arial,sans-serif; padding: 6px 10px 6px; background-color: #222222!important; border: none!important; -moz-border-radius: none!important; }
#dialog-confirm  { height: 168px !important; padding: 20px 10px 10px; }
#dialog-confirm input  { margin: 0 0 15px 0; width: 280px; }
#dialog-confirm select { margin: 0 0 15px 0; }
.ui-dialog-buttonpane  { padding: 10px; }
.ui-dialog-buttonpane button  { margin: 0 10px 0 0; background:#F2F2F2; text-shadow:0 1px 0 #FFFFFF; border-color:#BBBBBB; color:#464646; -moz-border-radius-bottomleft:11px; -moz-border-radius-bottomright:11px; -moz-border-radius-topleft:11px; -moz-border-radius-topright:11px; border-style:solid; border-width:1px; cursor:pointer; font-size:11px !important; line-height:14px; padding:2px 8px; text-decoration:none; }

.ui-dialog-buttonpane button:hover {color:#000;border-color:#666;}



.ui-icon  { display: none; }

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-widget-overlay { background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .60;filter:Alpha(Opacity=60); }
.ui-widget-shadow { margin: -8px 0 0 -8px; padding: 8px; background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .60;filter:Alpha(Opacity=60); -moz-border-radius: 8px; -webkit-border-radius: 8px; }


#reset_jcd_menu { background:#c77 none !important;color:white!important;text-shadow:0 1px 0 #555 !important;}
