/*-------------------------------------------------------------------------------------

TABLE OF CONTENTS

1. General Field Styling
2. Fields Table Layout
3. "Image" Selectors
4. "DatePicker" Fields
5. "Upload" Fields
6. "Timestamp" Fields

-------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/* 1. General Field Styling */
/*-----------------------------------------------------------------------------------*/

.jcd_input_text { margin: 0 0 10px 0; background: #f4f4f4; color: #444; width: 80%; font-size: 11px; padding: 5px; }
.jcd_input_select { margin: 0 0 10px 0; background: #f4f4f4; color: #444; width: 60%; font-size: 11px; padding: 5px; }
.jcd_input_checkbox { margin: 0 10px 0 0; }
.jcd_input_radio { margin: 0 10px 0 0; }
.jcd_input_radio_desc { font-size: 12px; color: #666; }
.jcd_input_calendar { margin: 0 0 10px 0; }
.jcd_input_textarea { width: 80%; height: 120px; margin: 0 0 10px 0; background: #f0f0f0; color: #444;font-size: 11px; padding: 5px; }

/*-----------------------------------------------------------------------------------*/
/* 2. Fields Table Layout */
/*-----------------------------------------------------------------------------------*/

.jcd_spacer { display: block; height: 5px; }
.jcd_metabox_desc { font-size: 10px; color: #aaa; display: block; }
.jcd_metaboxes_table{ border-collapse: collapse; width: 100%; }
.jcd_metaboxes_table th,
.jcd_metaboxes_table td { border-bottom: 1px solid #ddd; padding: 10px 10px; text-align: left; vertical-align: top; }
.jcd_metaboxes_table .last th, .jcd_metaboxes_table .last td { border: 0; }
.jcd_metabox_names { width: 20%; }
.jcd_metabox_fields { width: 70%; }

/*-----------------------------------------------------------------------------------*/
/* 3. "Image" Selectors */
/*-----------------------------------------------------------------------------------*/

.jcd-meta-radio-img-img { border: 3px solid #dedede; margin: 0 5px 10px 0; display: none; cursor: pointer; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.jcd-meta-radio-img-img:hover, .jcd-meta-radio-img-selected { border: 3px solid #aaa; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.jcd-meta-radio-img-label { font-size: 12px; }
.jcd_metabox_desc span.counter { color: green !important; }
.jcd_metabox_image { text-align: right; }
.jcd_red_note { margin-left: 5px; color: #c77; font-size: 10px; }

/*-----------------------------------------------------------------------------------*/
/* 4. "DatePicker" Fields */
/*-----------------------------------------------------------------------------------*/

.jcd-field-type-calendar img.ui-datepicker-trigger { margin: 0 0 0 5px; top: 3px; position: relative; }

/*-----------------------------------------------------------------------------------*/
/* 5. "Upload" Fields */
/*-----------------------------------------------------------------------------------*/

.jcd_metabox_fields .controls input.upload { width: 280px; padding-bottom: 6px; }
.jcd_metabox_fields .controls input.upload_button { float: right; width: auto; border-color: #BBBBBB; cursor: pointer; height: 16px; }
.jcd_metabox_fields .controls input.upload_button:hover { width: auto; border-color: #666666; color: #000; }
.jcd_metabox_fields .screenshot { margin: 10px 0; float: left; margin-left: 1px; position: relative; width: 344px; }
.jcd_metabox_fields .screenshot img { -moz-border-radius: 4px; -webkit-border-radius: 4px; -border-radius: 4px; background: #FAFAFA; float: left; max-width: 334px; border-color: #CCC #EEE #EEE #CCC; border-style: solid; border-width: 1px; padding: 4px; }
.jcd_metabox_fields .screenshot .mlu_remove{ background: url( '../images/ico-delete.png' ) no-repeat scroll 0 0 transparent; border: medium none; bottom: -4px; display: block; float: left; height: 16px; position: absolute; left: -4px; text-indent: -9999px; width: 16px; padding: 0; }
.jcd_metabox_fields .upload { background: none repeat scroll 0 0 #F4F4F4; color: #444444; font-size: 11px; margin: 0 0 10px; padding: 5px; width: 70%; }
.jcd_metabox_fields .upload_button { -moz-border-radius: 4px; -webkit-border-radius: 4px;-border-radius: 4px; }
.jcd_metabox_fields .screenshot .no_image .file_link { margin-left: 20px; }
.jcd_metabox_fields .screenshot .no_image .mlu_remove { bottom: 0px; }

/*-----------------------------------------------------------------------------------*/
/* 6. "Timestamp" Fields */
/*-----------------------------------------------------------------------------------*/

.jcd-field-type-timestamp img.ui-datepicker-trigger { margin: 0 0 0 5px; top: 3px; position: relative; }
.jcd-field-type-timestamp .jcd_metabox_desc { margin-top: 5px; }