/* Reset
------------------------------------------------------------------- */
html { height: 100%; }
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
body { background: #F9F9F9; font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif; font-size:12px; color: #333; line-height:1.5em; height: 100%; width: 100%; padding-bottom: 20px !important; }
a { color: #21759B; text-decoration: none; }
a:hover { text-decoration: underline; text-shadow: none !important; }
h1 { font-size: 21px; color:#5A5A5A; font-family:Georgia,"Times New Roman",Times,serif; font-weight:normal; margin-bottom: 21px; }
h3 { font-size: 13px; color: #666; margin-bottom: 18px; }
input { width: 301px; }
input[type='text'] { padding: 3px 5px; margin-right: 4px; -moz-border-radius:3px; border-radius:3px; -webkit-border-radius:3px; }
input[type='checkbox'], input[type='radio'] { width: auto !important; float: left; margin-top: 3px; }
input[type='radio'] { margin-right: 8px; }
input.fieldError, select.fieldError, textarea.fieldError { border: 2px solid #D56F55; }
img { border: none; }
label { color: #222; font-weight: bold; display: block; margin-bottom: 4px; }
label.radio { width: auto; margin: -2px 0 0 5px; }
label span.label-required { color: #AAA; margin-left: 4px; font-weight: normal; }
td { vertical-align: top; }
select { width: 300px; }
textarea { height: 100px; width: 311px; }
.clear { clear: both; }

/* Main Styles
------------------------------------------------------------------- */
body {
	width: 100%;
	height: 100%;
	font-size: 13px;
  line-height: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.jcd-fb-container {
	margin: 21px 30px;
	padding-bottom: 20px;
}


.button-primary {
	width: auto;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	text-decoration: none;
	line-height: 23px;
	margin-left: 0;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	color: #fff;
	height: auto;
	font-weight: bold;
	padding: 7px 15px;
	text-transform: uppercase;
	font-size: 11px !important;
	text-shadow: 0 -1px rgba(0,0,0,.4) !important;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-color: #3e780e;
	background: #95ce53;
	background: -moz-linear-gradient(top, #95ce53 0%, #69b90b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95ce53), color-stop(100%,#69b90b));
	background: -webkit-linear-gradient(top, #95ce53 0%,#69b90b 100%);
	background: -o-linear-gradient(top, #95ce53 0%,#69b90b 100%);
	background: -ms-linear-gradient(top, #95ce53 0%,#69b90b 100%);
	background: linear-gradient(top, #95ce53 0%,#69b90b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95ce53', endColorstr='#69b90b',GradientType=0 );
	background-repeat: no-repeat
}
.button-primary:hover {
	background-color: #69b90b;
  background-position: 0 -15px;
}
.button-primary:active {
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.2) inset;
  -moz-box-shadow: 0 3px 5px rgba(0,0,0,.2) inset;
  box-shadow: 0 3px 5px rgba(0,0,0,.2) inset;
}
.button-small {
	padding: 1px 10px;
}

/* Form Builder Header
------------------------------------------------------------------- */
.jcd-fb-header {
  padding: 20px 15px 0;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 1px 0 rgba(0,0,0,.7);
  background: #616771;
  background: -moz-linear-gradient(top, #616771 0%, #3d454c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#616771), color-stop(100%,#3d454c));
  background: -webkit-linear-gradient(top, #616771 0%,#3d454c 100%);
  background: -o-linear-gradient(top, #616771 0%,#3d454c 100%);
  background: -ms-linear-gradient(top, #616771 0%,#3d454c 100%);
  background: linear-gradient(top, #616771 0%,#3d454c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#616771', endColorstr='#3d454c',GradientType=0 );
}
.jcd-fb-header ul {
	list-style: none;
	bottom: -1px;
	padding-left: 10px;
	position: relative;
	margin: 0 5px;
	overflow: hidden;
}
.jcd-fb-header li {
	display: inline;
	float: left;
}
.jcd-fb-header li a {
	color: #fff;
	outline: none;
	display: block;
	padding: 4px 13px;
	line-height: 28px;
	text-decoration: none;
}
.jcd-fb-header .current {
	color: #222;
	text-shadow: none;
	background: #f9f9f9;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
.jcd-fb-success {
	position: fixed;
	z-index: 100;
	right: 20px;
	padding: 8px;
	background: #FCF8E3;
	border: 1px solid #FBEED5;
	color: #C09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/* Form Builder Right Section
------------------------------------------------------------------- */
.jcd-fb-right {
	right: 0;
	top: 0;
	width: 315px;
	position: absolute;
	margin: 77px 30px 0 0;
}
.jcd-fb-right {
	color: #999;
	line-height: 19px
}
.jcd-fb-right input[type="text"],
.jcd-fb-right select {
	width: 195px;
	margin-bottom: 15px;
}
.jcd-fb-right .button {
	margin-top: 15px;
}
.jcd-fb-right label {
	float: left;
	width: 100px;
}
.jcd-fb-right input[type="text"] {
	background: #fff;
}
.jcd-fb-right .jcd-fb-add-option {
	margin-left: 100px;
	margin-bottom: 10px;
}
.jcd-fb-right .jcd-fb-new-fields {
	padding: 0;
	border: 0;
	background: none;
}

/* Form Element
------------------------------------------------------------------- */
label {
	display: block;
}
input[type="text"] {
	height: 15px;
}
input[type="text"],
textarea {
	color: #555;
  width: 288px;
  padding: 5px;
  background: #fafafa;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}
textarea {
	resize: vertical;
}
input, textarea {
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
input[type="text"]:focus,
textarea:focus {
	outline: 0;
  background:#fff;
  border-color: #349ef6;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: thin dotted \9;
}
input[type="checkbox"] {
	margin-right: 5px;
}
select {
	height: 27px;
	display: block;
	border: 1px solid #ccc;
}
.select_wrapper {
	font-family: sans-serif;
  font-size: 12px;
  background: #fff url(../images/select.png) no-repeat right center;
  border: 1px solid #ccc;
  float: left;
  height: 27px;
  margin: 0;
  margin-bottom: 9px !important;
  display: block;
  color: #555;
}
.select_wrapper span {
  height: 27px;
  line-height: 27px;
  position: absolute;
  z-index: 2;
  padding-left: 6px;
}
.select_wrapper .jcd-input {
	cursor: pointer;
	height: 27px;
	margin: 0;
	opacity: 0;
	padding: 0;
	position: relative;
	z-index: 4;
}

.jcd-fb-form-case {
	width: 336px;
	background: #fff;
	/*padding: 13px;*/
	margin-bottom: 20px;
	border: 1px solid #f2f2f2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.jcd-fb-settings {
	padding: 17px;
	width: 302px;
}
.jcd-fb-edit-field {
	float: right;
}

.jcd-fb-extra-fields {
	margin-bottom: 20px;
}
.jcd-fb-new-fields {
	position: relative;
	border: 1px solid #fff;
	background: #fff;
	padding: 17px;
	cursor: default;
	border-bottom: 1px solid #f2f2f2
}
.jcd-fb-new-fields:hover {
	background: #f9f9f9;
}
.jcd-fb-form-case .jcd-fb-add-field {
	display: block;
	padding: 0 17px 17px 17px
}

.jcd-fb-remove {
	background: #fff;
	position: absolute;
	cursor: pointer;
	right: -15px;
	top: 16px;
	width: 20px;
	height: 20px;
	border: 1px solid #f2f2f2;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.jcd-fb-remove span {
	left: 5px;
	top: 8px;
}
.jcd-fb-remove span,
.jcd-fb-remove-option {
	position: absolute;
	background: #999;
	height: 3px;
	width: 10px;
}
.jcd-fb-remove-option {
	right: -10px;
	top: 10px;
	cursor: pointer;
}
.jcd-fb-reorder { cursor: move; position: relative; }
.jcd-fb-reorder:hover div { display: block !important; width: 130px !important; position: absolute; top: 0; right: 0; z-index: 200; padding: 5px 10px; color: #555; font-size: 11px; background: #FFF; border: 1px solid #CCC; -moz-border-radius:4px; border-radius:4px; -webkit-border-radius:4px; }