.jcd-contact-form .clear-form { clear: both; }
.jcd-contact-form input[type='text'], .jcd-contact-form input[type='email'] { width: 300px; }
.jcd-contact-form select { margin-bottom: 0; }
.jcd-contact-form textarea { height: 200px; width: 80%; float: none; margin-bottom: 13px; }
.jcd-contact-form input[type='radio'], .jcd-contact-form input[type='checkbox'] { float: none; }
.jcd-contact-form label { margin-bottom: 3px; float: none; font-weight: bold; display: block; }
.jcd-contact-form label.checkbox { margin-bottom: 3px; float: none; font-weight: bold; display: inline-block; }
.jcd-contact-form label span { color: #AAA; margin-left: 4px; font-weight: normal; }
.jcd-contact-form br { display: none }
.jcd-contact-form > div { margin-bottom: 18px; }
.jcd-contact-form .jcd-radio-label {
	display: block;
}
.jcd-contact-form .jcd-radio-label input,
.jcd-contact-form input[type='checkbox'] {
	margin-top: 0;
	margin-bottom: 4px;
}
.jcd-contact-form .form-submit {
	margin-top: 18px;
}
.form-errors .form-error-message { color: red; }
.textwidget input[type='text'], .textwidget input[type='email'], .textwidget textarea { width: 250px; }
.jcd-contact-form input[type="text"],
.jcd-contact-form input[type="email"],
.jcd-contact-form textarea {
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.jcd-contact-form textarea {
	width: 100%;
	resize: vertical;
}

@media (max-width: 767px) {
	.jcd-contact-form input[type="text"],
	.jcd-contact-form input[type="email"],
	.jcd-contact-form textarea,
	.jcd-contact-form select,
	.jcd-contact-form input[type="submit"] {
	  float: none;
	  width: 100%;
	  margin-left: 0;
	}
}