#jcd_ptemplate_meta #widget-list .widget { display: block; width: auto; margin: 3px 10px; }
#jcd_ptemplate_meta .widget-placeholder { margin: 5px auto; width: auto; }
#jcd_ptemplate_meta div.widgets-sortables .widget { margin: 10px auto; }

#jcd_ptemplate_meta #available-widgets {
  margin-top: 15px;
  margin-bottom: 15px;
}
#jcd_ptemplate_meta .widget-top {
  height: auto;
  background: #f7f7f7;
  background: -webkit-linear-gradient(#f7f7f7, #ebebeb);
  background: -moz-linear-gradient(#f7f7f7, #ebebeb);
  background: linear-gradient(#f7f7f7, #ebebeb);
}
#jcd_ptemplate_meta .widget-top .widget-title {
  padding: 8px 10px;
}
#jcd_ptemplate_meta .widget-title h4 {
  padding: 0;
  font-size: 13px;
}
#jcd_ptemplate_meta  a.widget-action:after {
  padding: 3px 10px
}

#jcd_ptemplate_meta div.widgets-sortables {
  background: #fff;
  border-top: 1px solid #dfdfdf;
  margin-left: -10px;
  margin-right: -12px;
  margin-bottom: -8px;
  padding: 15px 20px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}
#jcd_ptemplate_meta div.widgets-sortables .description {
  margin-bottom: 10px;
}
#jcd_ptemplate_meta .ui-draggable-dragging,
#jcd_ptemplate_meta .ui-sortable-helper {
  width: 100% !important;
}

/* Form Element
-------------------------------- */
#jcd_ptemplate_meta .block-desc {
  padding: 10px;
  background: #FCF8E3;
  border: 1px solid #FBEED5;
  border-radius: 3px;
  margin-bottom: 20px;
  color: #C09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
#jcd_ptemplate_meta .widgets-sortables .widget-inside {
  background: #fff;
  padding: 12px 12px 10px
}
#jcd_ptemplate_meta .form-input-wrapper {
  margin-bottom: 20px;
  width: 49%;
}
#jcd_ptemplate_meta .form-input-wrapper-textarea {
  width: 100%;
}
#jcd_ptemplate_meta .form-input-wrapper label {
  display: block;
  font-weight: bold;
  margin-bottom: 3px;
}
#jcd_ptemplate_meta .form-input-wrapper input[type="text"],
#jcd_ptemplate_meta .form-input-wrapper textarea,
#jcd_ptemplate_meta .form-input-wrapper select {
  margin: 0;
  height: auto;
  padding: 7px;
  width: 100%;
}
#jcd_ptemplate_meta .form-input-wrapper select {
  height: 30px;
}
#jcd_ptemplate_meta .form-input-wrapper textarea {
  resize: vertical;
}

#jcd_ptemplate_meta .form-input-left {
  float: left;
}
#jcd_ptemplate_meta .form-input-right {
  float: right;
}
#jcd_ptemplate_meta .form-desc {
  display: block;
  margin-top: 3px;
  color: #a5a5a5;
  -webkit-transform: translateZ(0);
}

#jcd_ptemplate_meta .widget-control-actions {
  clear: both;
  background: #f5f5f5;
  margin: 0 -12px -10px -12px;
  padding: 8px 10px;
  border-top: 1px solid #dfdfdf;
}
#jcd_ptemplate_meta .widget-control-actions .alignleft {
  margin: 0;
}