#template .CodeMirror {
	line-height: 16px;
	margin-right: 20px;
	border: 1px solid #dfdfdf;
}
#template .CodeMirror div {
	margin-right: 0;
}
.activeline {
	background: #000
}
.CodeMirror-activeline-background {
	background: #E8F2FF !important;
}